/* font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
 */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color:#424249;
}

 body { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffDFC;
  }

  .Righteous{
    font-size:35px;
    font-family: 'Righteous', cursive;
  }

  header{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #424249;
    

  }

  .piggy{
    font-size: 10vh;
    color: #54D2E5;
    padding: 5%;
  }

  #logoDiv{
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
  }

  .logo{
    font-size: 50px;
    color: #fffDFC;
    font-family: 'Righteous', cursive;
  }

  #budgetDiv{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px; 
    color: #fffDFC;
    font-family: 'Roboto', sans-serif;
    padding: 5%;
  }

  #budgetDiv h2{
    color: #fffDFC;
  }

  #total{
    font-size:40px;
   
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    color: #fffDFC;
  }
/* Header over */

/* Main */
#mainDiv{
  display: flex;
  justify-content: space-evenly;
  margin: 100px;
  width: 100%;  
}

#monthlyDiv{
min-height: 30vH;
width: 35%;
background-color: #EFE8E1; 
border-radius: 5px;
}

/* list  */

.listTitle{
  padding: 20px;
  font-size:35px;
}

#listDiv ul li{
padding: 20px;
}
.listTitle{
  padding: 10px;
  font-family: 'Righteous', cursive;
}
 .listItem{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   font-size: 25px;
 }

 .itemTitle{
   font-size: 25px;
   padding-right: 10px;
 }

 .itemPrice{
  flex-grow:1;
 }

 .trashcan{
   flex-grow:1;
  color: #54D2E5; 
  align-self: flex-end;
  content:url("assets/trash_can.svg")
 }

 .trashcan:hover{
  transform: scale(1.07);
}
a:hover{
transform: scale(1.4);
}

a:active {
  color: red;
}

/* Form */


#bill2Div{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20rem;
  width: 35%;
  background-color: #54D2E5;
  padding: 15px;
  border-radius: 5px;

}

#bill2HeaderDiv{
    font-size:35px;
}

#bill2Div form{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

#inputDiv{
  display:flex;
  justify-content: flex-end;
  padding: .5em;
}
#inputDiv > label{
  width: 20%;
  text-align: center;
  font-size: 1.6rem;
  /* font-size: 25px; */
  
  color:#424249;
}

#inputDiv > input{
  height: 40px;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color:#424249;
}
button{
  background-color:#424249;
  height: 40px;
  color:#fffDFC;
  
}

button:hover{
  background-color:#fffDFC;
  transform: scale(1.05);
  
  color:#424249;
  
}




@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}